*.R
*.do
*.Rproj
*.emf
*.jpg
*.txt
*.dta
*.doc
*.docx
*.rar
*.zip
*.csv
*.wf1
*.jpeg
*.rds
*.Rdata
.Rhistory
*.mat
*.xlsx
*.xls
*.tex
*.pptx
*.eps
.DS_Store
*.pdf
*-blx.bib
*.bib.bak
*.asv
*.aux
*.bbl
*.bcf
*.bib_*.utf8
*.blg
*.dvi
*.ent
*.fff
*.fls
*.glo
*.idx
*.ilg
*.ind
*.log
*.lot
*.mod
*.nav
*.o
*.out
*.pdfsync
*.prj
*.pyc
*.run.xml
*.snm
*.sublime-*
*.svn
*.tmproj
*.toc
*.ttt
*.vrb
*.gz
*.fdb_latexmk
*.synctex.gz
*.synctex
*.synctex.gz(busy)
.Rproj.user
